@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-height: 100vh;
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-details {
  margin: 2rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.login-details h2 {
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-size: 4rem;
  color: #282828;
}

.login-details p {
  color: #757575;
  margin-bottom: 2.7rem;
  font-size: 1.6rem;
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #757575f7;
  border-radius: 6px;
  font-size: 1.4rem;
}

.lgn {
  margin-bottom: 2rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.password-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.password-wrapper input {
  width: 100%;
  padding-right: 4rem;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.6rem;
}

.password-wrapper .status {
  color: red;
  font-size: 0.85rem;
  min-height: 1em;
}

.remember-me-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.1rem;
  margin-bottom: 4.7rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.remember-me label {
  font-size: 1.6rem;
  color: #757575;
  font-weight: 500;
}

.forgot-password {
  display: flex;
  font-size: 1.4rem;
}

.forgot-password a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: #0e3995;
}

.forgot-password a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  border: 2px solid #757575f7;
}

input[type="checkbox"]:checked {
  border-color: #0e3995;
  background-color: #0e3995;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.patient-btn,
.staff-btn {
  flex: 1;
  width: 100%;
  padding: 12px;
  background-color: #0e3995;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.login-footer p {
  font-size: 1.6rem;
  color: #757575;
}

.login-footer a {
  font-size: 1.6rem;
  color: #0e3995;
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.5rem;
}

.illustration-part {
  background-color: #0e3995;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.transparent-glass {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 12px;
  padding: 4rem 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 85%;
  box-shadow: 0 4px 20px #00000033;
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.logo p {
  font-size: 2.8rem;
  font-weight: 600;
}

.transparent-glass h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
  margin-top: 6rem;
}

.logo img {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 1080px) {
  .container {
    grid-template-columns: 1fr;
  }
  .illustration-part {
    display: none;
  }
}
@media (max-width: 578px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .remember-me-password {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .remember-me {
    gap: 1rem;
  }

  .btn {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .login-details h2 {
    font-size: 2.4rem;
  }
  .login-details p {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
  .forgot-password {
    font-size: 1.2rem;
  }
  .remember-me-password {
    margin-bottom: 2rem;
  }
}
