@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-height: 100vh;
}

.form-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-fill-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-fill {
  margin: 2rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.form-fill h2 {
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
}

.form-fill p {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #757575;
}

.select-role {
  display: flex;
  gap: 4rem;
  margin-bottom: 16px;
}

.select-role input {
  margin-right: 0.8rem;
}

.select-role label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #757575;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.row {
  display: flex;
  gap: 0.8rem;
}

.row .input-group {
  flex: 1;
  font-size: 1.6rem;
  color: #282828;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-group label {
  font-size: 1.6rem;
  color: #282828;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 1.4rem;
}

.password-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.password-wrapper input {
  width: 100%;
  padding-right: 4rem;
  flex: 1;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.6rem;
}

input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

input[type="checkbox"]:checked {
  background-color: #0e3995;
  border-color: #0e3995;
}

.status {
  font-size: 1.2rem;
  color: red;
  margin-top: 0.4rem;
  display: block;
  line-height: 1.4;
}

.term-label {
  display: flex;
  font-size: 1.4rem;
  gap: 0.8rem;
  align-items: center;
}

.term-label .status {
  flex-basis: 100%;
  margin-left: 4rem;
}

.term-label a {
  color: #0e3995;
  text-decoration: none;

  font-weight: 600;
}

.term a:hover {
  color: #092d6e;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0e3995;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #092d6e;
}

.acct {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.acct a {
  margin-left: 1rem;
  text-decoration: none;
  color: #0e3995;
  font-weight: 600;
}

.acct a:hover {
  color: #092d6e;
}

.illustration-part {
  background-color: #0e3995;
  display: flex;
  justify-content: center;

  align-items: center;
}

.transparent-glass {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 12px;
  padding: 4rem 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 85%;
  box-shadow: 0 4px 20px #00000033;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.logo {
  display: flex;
  gap: 0.8rem;
}

.logo p {
  font-size: 2.8rem;
  font-weight: 600;
}

.transparent-glass h2 {
  font-size: 5rem;
  text-align: center;
  margin: auto 0;
}

.hidden {
  display: none;
}

@media (max-width: 1080px) {
  .form-wrapper {
    grid-template-columns: 1fr;
  }
  .illustration-part {
    display: none;
  }
}
@media (max-width: 578px) {
  .form-fill {
    margin: 1.6rem;
  }
}

@media (max-width: 400px) {
  .form-fill {
    margin: 1rem;
  }
  .form-fill p {
    font-size: 1.2rem;
  }
}
